:root {
    --bg:#d7d7d7;
}
body {
    background-color: #d7d7d7;
    justify-content: center;
    display: flex;
    align-items: center;    
}
.MainText {
    color: white;
    filter: drop-shadow(10px 10px 20px #b8b8b8);
    font-family:sans-serif;
}
.SocialText
{
    position: absolute;
    color:white;
    bottom: 4em;
}
ul.Social {
    position: absolute;
    list-style: none;
    display: flex;
    bottom: 0em;
    gap: 50px;
}
ul.Social li
{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 0.5s;
}
ul.Social li a
{
    position: relative;
    text-decoration: none;
    color: var(--clr);
    font-size: 2em;
    z-index: 1;
}
ul.Social li:hover a
{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr));
}
ul.Social li::before
{
    content: '';
    position: absolute;
    inset: 10px;
    transition: 0.5s;
    box-shadow:
    0 0 0 1px var(--bg), 0 0 0 2px var(--clr);
}
ul.Social li::after
{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg);
    transform: rotate(45deg);
}
ul.Social li:hover:before
{
    inset: 20px;
}